<div class="card shadow mb-4">
    <div class="card-header py-3">
        <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_add">
    <i class="fas fa-plus"></i>
  </button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableItems" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Images</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(let i=0;i<data.length;i++){ %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= data[i].title %></td>
                            <td><%= data[i].categoryId.name %></td>
                            <td><%= data[i].price %></td>
                            <td><%= data[i].city %></td>
                            <td><%= data[i].country %></td>
                            <td>
                                <% for(let y=0;y<data[i].imageId.length;y++){ %>
                                    <img src="/images/items/<%= data[i].imageId[y].imageUrl %>" alt="<%= data[i].imageId[y].imageUrl %>" width="30px"/>

                                <% } %>
                            </td>
                            <td>
                                <form action="/admin/items/<%= data[i]._id %>?_method=DELETE" method="POST">
                                <a href="javascript:void()" class="btn btn-warning btn-sm edit-items" onclick="" data-toggle="modal" data-target="#modal_edit"
                                    data-id="<%= data[i]._id %>"
                                    data-title="<%= data[i].title %>"
                                    data-price="<%= data[i].price %>"
                                    data-desc="<%= data[i].desc %>"
                                    data-city="<%= data[i].city %>"
                                    data-country="<%= data[i].country %>"
                                    data-categoryid="<%= data[i].categoryId._id %>"
                                >
                                    <i class="fas fa-pen"></i>
                                </a>
                                    <button type="submit" class="btn btn-danger btn-sm" >
                                        <i class="fas fa-trash"></i>
                                    </button>
                                    <a href="/admin/items/detail/<%= data[i]._id %>/" class="btn btn-info btn-sm">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </form>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Images</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            
            </table>
        </div>
    </div>
</div>
